#html,body
{
    margin:0px;
    padding:0px;
}
img.Banner
{
    display:block;
    width: 1920px;
    height: 300px;
    border: 1px solid brown;
    object-fit: cover;
}
div.Navigation-Container
{
    display:flex;
    width: auto;
    background-color: rgb(143, 47, 47);
    padding: 0px 20px;
    border: 1px solid black;
}
a.Navigation-Item
{
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Segoe UI';
}
.Active
{
    background-color: yellowgreen;
}
h1.Heading
{
    font-family: 'Segoe UI';
    padding: 50px 50px 0px 50px;
    color: rgb(143, 47, 47);
}
div.Item-Outer-Wrapper
{
    display: flex;
    margin: 50px 20px 20px 20px;
}
div.Item-Inner-Wrapper
{
    display: flex;
    flex-wrap: wrap;
}
div.Flex-Container
{
    display: flex;
    font-family: 'Arial';
    margin: 20px 20px;
}
img.Faces
{
    height: 350px;
    width: 300px;
}
div.Text-Box
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: yellowgreen;
    color: white;
    padding: 20px 20px;
    box-sizing: border-box;
    height: 350px;
    width: 280px;
}
div.Title-Name
{
    font-size: 30px;

}
.Position
{
    font-size: 20px;
}



